@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-color: #f099d8;
  }

  li {
    list-style-type: none; /* this removes the bullet points */
    display: inline-block; /* not sure what this does though*/
  }

  /* NAV */

  nav {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 50px; /* it curves the border of the nav bar */
    box-shadow: 0 25px 20px -20px rgb(0, 0, 0, 0.4);
  }

  .nav_link--list {
    display: flex;
  }

  .nav_link {
    padding-left: 25px; 
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4e4444;
    cursor: pointer; /* this makes the arrow change when i hover on something clickable */
  }

  /*btw need to rewatch video to write explanation comments of this code
  link: https://www.youtube.com/watch?v=mu-sc9OO2Pw&t=16s */

  .nav_link:hover::after{
    content: '';
    border-radius: 35px;
    position: relative;
    opacity: 1;
    transition: opacity 3000s;
  }

  .nav_link:hover {
    color: #ffffff;
    border-radius: 35px;
    background-color: #a5518d;
    opacity: 0.8;
  }

  .nav_link:after {
    transition: all 3000s;
  }


  /*theres a bug, the hover effect is not doing on the links 
  but instead it is doing on the ful body */
  /* ended up fixing the nav bar but its not exactly like the
  tutorial but this will do for now.*/